<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Url" value="https://login.xero.com/" />
    <add key="Username" value="kennybanjotech@gmail.com" />
    <add key="Password" value="Bolajimi1." />
    <add key="Platform" value="Android"/>
    <add key="DeviceName" value="emulator-5554"/>
    <add key="AppPackage" value="com.xero.touch"/>
    <add key ="AppActivity" value ="com.xero.touch.auth.splash.MainActivity"/>
    <add key="ApiumUri" value="http://127.0.0.1:4723/wd/hub"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="TechTalk.SpecFlow" publicKeyToken="0778194805d6db41" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>